* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: red;
    height: 100px;
    width: calc( 1400px - 10% );
}


#toggle{
    opacity: 0;
    width: 0;
    height: 0;
}

#sp{
    position: relative;
}

#sp::before{
    display: block; 
    width: 40px; 
    height: 20px;
    border-radius: 10px;
    content: ''; 
    background-color: #eee;
    position: absolute; 
    top: 0; 
    left: 0;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
}

#sp::after{
    display: block; 
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    content: ''; 
    background-color: #0066ff;
    position: absolute; 
    top: 0;
    left: 0;
}



