:root {
    --primary: rgb(43, 97, 8);
    --secondary: rgb(255, 231, 95); 
    --text: sans-serif;
    --p-block : 10px;
    --p-inline: 20px; 
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text);

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--text);
}

.container {
    background-color: var(--primary);
    padding-block: var(--p-block);
    padding-inline: var(--p-inline);

    border: 3px solid green ; 
    border-radius: var(--p-block);


    & h1{
        color: var(--secondary)


    }
    
}


